[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "crates/blackflower-ecs/vendor/flecs"]
	path = crates/blackflower-ecs/vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "crates/blackflower-physics/vendor/JoltPhysics"]
	path = crates/blackflower-physics/vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "crates/blackflower-animation/vendor/ozz-animation"]
	path = crates/blackflower-animation/vendor/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "crates/blackflower-audio-spatial/vendor/flatbuffers"]
	path = crates/blackflower-audio-spatial/vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "crates/blackflower-audio-spatial/vendor/libmysofa"]
	path = crates/blackflower-audio-spatial/vendor/libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "crates/blackflower-audio-spatial/vendor/pffft"]
	path = crates/blackflower-audio-spatial/vendor/pffft
	url = https://github.com/marton78/pffft.git
[submodule "crates/blackflower-audio-spatial/vendor/steam-audio-sdk"]
	path = crates/blackflower-audio-spatial/vendor/steam-audio-sdk
	url = https://github.com/ValveSoftware/steam-audio.git
[submodule "vendor/embree"]
	path = vendor/embree
	url = https://github.com/RenderKit/embree.git
[submodule "crates/blackflower-navigation/vendor/recastnavigation"]
	path = crates/blackflower-navigation/vendor/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "crates/blackflower-rendering-volumes/vendor/openvdb"]
	path = crates/blackflower-rendering-volumes/vendor/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "crates/blackflower-scripting/vendor/luau"]
	path = crates/blackflower-scripting/vendor/luau
	url = https://github.com/luau-lang/luau.git
[submodule "crates/blackflower-audio-voice/vendor/opus"]
	path = crates/blackflower-audio-voice/vendor/opus
	url = https://github.com/xiph/opus.git
[submodule "crates/blackflower-shader-compiler/vendor/slang"]
	path = crates/blackflower-shader-compiler/vendor/slang
	url = https://github.com/shader-slang/slang.git
[submodule "crates/blackflower-rendering-textures/vendor/KTX-Software"]
	path = crates/blackflower-rendering-textures/vendor/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "crates/blackflower-cooker-volume/vendor/boost"]
	path = crates/blackflower-cooker-volume/vendor/boost
	url = https://github.com/boostorg/boost.git
[submodule "crates/blackflower-cooker-volume/vendor/oneTBB"]
	path = crates/blackflower-cooker-volume/vendor/oneTBB
	url = https://github.com/uxlfoundation/oneTBB.git
[submodule "crates/blackflower-cooker-volume/vendor/c-blosc"]
	path = crates/blackflower-cooker-volume/vendor/c-blosc
	url = https://github.com/Blosc/c-blosc.git
