[submodule "crates/blackflower-ecs/vendor/flecs"]
	path = crates/blackflower-ecs/vendor/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "crates/blackflower-physics/vendor/JoltPhysics"]
	path = crates/blackflower-physics/vendor/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "crates/blackflower-animation/vendor/ozz-animation"]
	path = crates/blackflower-animation/vendor/ozz-animation
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "crates/blackflower-audio/vendor/flatbuffers"]
	path = crates/blackflower-audio/vendor/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "crates/blackflower-audio/vendor/libmysofa"]
	path = crates/blackflower-audio/vendor/libmysofa
	url = https://github.com/hoene/libmysofa.git
[submodule "crates/blackflower-audio/vendor/pffft"]
	path = crates/blackflower-audio/vendor/pffft
	url = https://github.com/marton78/pffft.git
[submodule "crates/blackflower-audio/vendor/steam-audio-sdk"]
	path = crates/blackflower-audio/vendor/steam-audio-sdk
	url = https://github.com/ValveSoftware/steam-audio.git
[submodule "crates/blackflower-audio/vendor/zlib"]
	path = crates/blackflower-audio/vendor/zlib
	url = https://github.com/madler/zlib.git
[submodule "crates/blackflower-navigation/vendor/recastnavigation"]
	path = crates/blackflower-navigation/vendor/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "crates/blackflower-render/vendor/openvdb"]
	path = crates/blackflower-render/vendor/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
[submodule "crates/blackflower-script/vendor/luau"]
	path = crates/blackflower-script/vendor/luau
	url = https://github.com/luau-lang/luau.git
