* text=auto

*.md text eol=lf
*.rs text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.ogg binary
*.png binary
*.ttf binary
*.wav binary
*.webp binary
*.woff binary
*.woff2 binary
